:root {
    /*Couleur*/
    --fond-principal : #1A1A1A;
    --fond-secondaire : #2E2E2E;
    --texte-principal : #E5E5E5;
    --texte-secondaire : #BFBFBF;
    --interactif : #C4975E;
    --attention : #8B1E1E;
    --succes : #4A7A66;


    /*Police*/
    --police-titre: 'Pirata One', cursive;
    --police-texte: 'Roboto', sans-serif;
}

html {
    background-color: var(--fond-principal);
    color: var(--texte-principal);
    font: var(--police-texte);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--police-titre) !important;
}

p, span, a, li, button, label, input, blockquote {
    font-family: var(--police-texte) !important;
}

#page-top {
    background-color: var(--fond-principal);
    color: var(--texte-principal);
}

#logo {
    height: 6.5em;
}