.card { 
  max-width: 320px; 
  margin: 1rem;
  align-content: center;
  display : flex;
  flex-direction: column;
  align-items : center;

  /* --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius); */
 }

.classSelectBackground {
  background: url('../img/classsSelectForest.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;    /* vertical centering */
  justify-content: center;/* horizontal centering */
  padding: 2rem;
  box-sizing: border-box;
}

.classCards {
  display: flex;
  align-items: center;
  justify-content: center;

  padding:1rem;
}

.card img {
    width: 300px;
    height: 420px;
    object-fit: cover;
    display: block;
  }

.classSelectButton {
  align-self: center;
  width: 200px;
  background-color : black;
  color : whitesmoke; 
}

.heroForm {
  padding: 50px;
  display:flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 300px;
  height:200px;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  color: white;
}