.card { 
  max-width: 320px; 
  margin: 1rem;
  align-content: center;
  display : flex;
  flex-direction: column;
  align-items : center;
 }

.classSelectBackground {
  background: url('../img/classsSelectForest.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;    /* vertical centering */
  justify-content: center;/* horizontal centering */
  padding: 2rem;
  box-sizing: border-box;
}

.classCards {
  display: flex;
  align-items: center;
  justify-content: center;

  padding:1rem;
}

.card img {
    width: 300px;
    height: 420px;
    object-fit: cover;
    display: block;
  }

.classSelectButton {
  align-self: center;
  width: 200px;
  background-color : black;
  color : whitesmoke; 
}